core/src/main/resources/uk/ac/cam/ch/wwmm/opsin/resources/suffixRules.dtd

<!ELEMENT suffixRulesList (rule)+>

<!ELEMENT rule (addgroup|setOutID|changecharge)*>
<!ATTLIST rule value CDATA #REQUIRED
               subType CDATA #IMPLIED>

<!ELEMENT addgroup EMPTY>
<!ATTLIST addgroup SMILES CDATA #REQUIRED
                    bondOrder CDATA #IMPLIED
                    labels CDATA #IMPLIED
                    setsOutID (yes|no) #IMPLIED
                    setsDefaultInID (yes|no) #IMPLIED
                    setsFunctionalID (yes|no) #IMPLIED
                    outValency CDATA #IMPLIED
                    ketoneLocant (yes|no) #IMPLIED>

<!ELEMENT setOutID EMPTY>
<!ATTLIST setOutID outValency CDATA #IMPLIED>
<!ELEMENT changecharge EMPTY>
<!ATTLIST changecharge charge CDATA #REQUIRED>
