core/src/main/resources/uk/ac/cam/ch/wwmm/opsin/resources/wordRules.dtd

<!ELEMENT wordRules (stringReplacement*,wordRule+)>

<!ELEMENT stringReplacement EMPTY>
<!ATTLIST stringReplacement name   CDATA #REQUIRED
                   value  CDATA #REQUIRED>

<!ELEMENT wordRule (word)+>
<!ATTLIST wordRule name   CDATA #REQUIRED
                   regex  CDATA #REQUIRED>

<!ELEMENT word EMPTY>
<!ATTLIST word type (full|substituent|literal) #REQUIRED>
                

